@font-face {
  font-family: 'Kosugi Maru';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kosugimaru/v16/0nksC9PgP_wGh21A2KeqGiTq.ttf) format('truetype');
}
