{{ $scripts := slice }}

{{ if .Site.Params.enableJustifiedGallery }}
{{- $scripts = union $scripts (slice "js/gallery.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.tableOfContents.enable true) }}
{{- $scripts = union $scripts (slice "js/toc.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableHeadingsAnchor true) }}
{{- $scripts = union $scripts (slice "js/anchor.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableMath true) }}
{{- $scripts = union $scripts (slice "js/math.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableMediumZoom true) }}
{{- $scripts = union $scripts (slice "js/medium-zoom.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enablePangu true) }}
{{- $scripts = union $scripts (slice "js/pangu.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableCodeBlockOverflow true) }}
{{- $scripts = union $scripts (slice "js/code-block.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableHighlight true) }}
{{- $scripts = union $scripts (slice "js/highlight.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableCopy true) }}
{{- $scripts = union $scripts (slice "js/copy.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableCodeCopy true) }}
{{- $scripts = union $scripts (slice "js/code-copy.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableHeaderLink true) }}
{{- $scripts = union $scripts (slice "js/header-link.js") -}}
{{ end }}

{{ if eq .Site.Params.enableServiceWorker true }}
{{- $scripts = union $scripts (slice "js/sw-registration.js") -}}
{{ end }}

{{ if .Site.Params.enableValine }}
{{- $scripts = union $scripts (slice "js/valine.js") -}}
{{ end }}

{{ if .Site.Params.enableMiniValine }}
{{- $scripts = union $scripts (slice "js/minivaline.js") -}}
{{ end }}

{{ if .Site.Params.enableUtterances }}
{{- $scripts = union $scripts (slice "js/utterances.js") -}}
{{ end }}

{{ if .Site.Params.enableGitalk }}
{{- $scripts = union $scripts (slice "js/gitalk.js") -}}
{{ end }}

{{ if .Site.Params.enableGiscus }}
{{- $scripts = union $scripts (slice "js/giscus.js") -}}
{{ end }}

{{ if .Site.Params.enableWaline }}
{{- $scripts = union $scripts (slice "js/waline.js") -}}
{{ end }}

{{ if .Site.Params.enableTwikoo }}
{{- $scripts = union $scripts (slice "js/twikoo.js") -}}
{{ end }}

{{ if .Site.Params.enableArtalk }}
{{- $scripts = union $scripts (slice "js/artalk.js") -}}
{{ end }}

{{ if .Site.Params.enableSmoothScroll }}
{{- $scripts = union $scripts (slice "js/smooth-scroll.js") -}}
{{ end }}

{{ if .Site.Params.enablePWA }}
{{- $scripts = union $scripts (slice "js/pwa.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableBackToTop true) }}
{{- $scripts = union $scripts (slice "js/back-to-top.js") -}}
{{ end }}

{{ if and .IsPage (eq .Site.Params.enableBypassServiceworker true) }}
{{- $scripts = union $scripts (slice "js/bypass-serviceworker.js") -}}
{{ end }}

{{ range .Site.Params.customJS }}
{{- $scripts = union $scripts (slice .) -}}
{{ end }}

{{ $path := "js/" }}

{{ range $scripts }}
{{ $filePath := print $path . }}
{{ if strings.HasPrefix . "http" }}
{{ $filePath = . }}
<script src="{{ $filePath }}" defer></script>
{{ else if fileExists (print "assets/" $filePath) }}
{{ $js := resources.Get $filePath | resources.ExecuteAsTemplate $filePath . }}
{{ if eq hugo.Environment "production" }}
{{ $js = $js | resources.Minify | fingerprint }}
{{ end }}
<script src="{{ $js.RelPermalink }}" defer></script>
{{ end }}
{{ end }}

{{ partial "custom/script.html" . }}