:root {
    --color-primary-rgb: 82, 196, 255;
    --post-width: 46em;
    --main-inner-padding: 2.5em 2.5em;
    --color-shadow: rgba(0, 0, 0, 0.08);
    --radius: 12px;
    --color-bg: #f9f9f9;
    --color-contrast-lower-alpha: rgba(0, 0, 0, 0.03);
    --content-width: 720px;
    --mono-font-family: "JetBrains Mono", "Fira Code", "Source Code Pro", "Source Han Mono SC", "Noto Sans Mono CJK SC", Menlo, Monaco, Consolas, "Courier New", monospace;
    --color-primary: #007aff;
    --text-color: #212529;
    --link-hover-color: #0056b3;
}

.dark {
    --color-primary-rgb: 82, 196, 255;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-bg: #121212;
    --color-contrast-lower-alpha: rgba(255, 255, 255, 0.08);
    --color-primary: #4dabf7;
    --text-color: #e0e0e0;
    --link-hover-color: #74c0fc;
}