<main class="main single" id="main">
    <div class="main-inner">
        <div class="main-content">
            {{ $attrs := partial "utils/data-attributes.html" . }}

            <article class="content post"
            {{- if $attrs.smallCaps }} data-small-caps="true"{{ end }}
            {{- with $attrs.align }} data-align="{{ . }}"{{ end }}
            {{- with $attrs.type }} data-type="{{ . }}"{{ end }}
            {{- with $attrs.layout }} data-layout="{{ . }}"{{ end }}
            {{- if $attrs.indent }} data-indent="true"{{ end }}
            {{- if $attrs.tocNum }} data-toc-num="true"{{ end }}>

                <h1 class="post-title">{{ (partial "utils/title.html" (dict "$" $ "title" $.Title)).htmlTitle }}</h1>

                {{ with .Params.subtitle }}
                    {{- $raw := . -}}
                    <div class="post-subtitle">{{ partial "utils/markdownify.html" (dict "$" $ "raw" $raw "isContent" false) }}</div>
                {{ end }}

                {{ if .Site.Params.displayPostDescription }}
                    {{ with .Params.description }}
                        {{- $raw := . -}}
                        <div class="post-description">{{ partial "utils/markdownify.html" (dict "$" $ "raw" $raw "isContent" false) }}</div>
                    {{ end }}
                {{ end }}

                {{ if .Params.meta | default .Site.Params.enablePostMeta }}
                    {{ partial "components/post-meta.html" (dict "$" . "isHome" false) }}
                {{ end }}

                <div class="post-body">
                    {{ partial "utils/content.html" . }}
                </div>
            </article>

            {{ partial "components/post-tags.html" . }}
            
            {{ partial "components/post-nav.html" . }}
        </div>
    </div>
</main>
