{{ define "main" -}}
<div class="posts">
  {{ range .Site.RegularPages -}}
    {{ if and (or (eq .Type "post") (eq .Type "article")) (or (not (isset .Params "Hidden")) (eq .Params.Hidden false)) -}}
    <article class="post">
      <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>

      <div class="post-date">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> · {{ .ReadingTime }} min read
      </div>

      {{ if .Description }}
        {{ .Description }}
      {{ else }}
        {{ .Summary }}
      {{ end }}

      {{ if .Truncated }}
      <div class="read-more-link">
        <a href="{{ .RelPermalink }}">Read More</a>
      </div>
      {{ end }}
    </article>
    {{- end }}
  {{- end }}
</div>
{{- end }}
