<div class="sidebar-container">
    <div class="sidebar-wrapper">
        <div class="sidebar-header">
            <span class="sidebar-title">{{ i18n "tocTitle" }}</span>
        </div>
        <div class="sidebar-body">
            <div class="toc-container">
                {{ .TableOfContents }}
            </div>
            <div class="sidebar-progress">
                <div class="progress-info">
                    <span class="progress-percentage">0%</span> 已阅读
                </div>
                <div class="reading-progress-bar-container">
                    <div class="reading-progress-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div> 