.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;

    .poetry {
        font-size: 1.2em;
        line-height: 1.8;
        margin-bottom: 2em;
    }

    .links {
        margin-top: 2em;
    }

    .links-item {
        display: inline-block;
        margin: 0 1em;
        font-size: 1.2em;
        color: var(--color-contrast-medium);
        text-decoration: none;
        transition: color $duration;

        &:hover {
            color: var(--color-primary);
        }
    }
}
