// https://codyhouse.co/ds/globals/colors
// https://github.com/dracula/dracula-theme/

$accentColorDark: #F596AA, #A0A7D4, #ff7b7b, #99D8CF, #838BC6;

@mixin dark-theme {
    --theme-name: "dark";
    --color-primary: #{$darkAccent};
    --primary-color-h: #{hue($darkAccent)};
    --primary-color-s: #{saturation($darkAccent)};
    --primary-color-l: #{lightness($darkAccent)};
    --color-bg: #1C1C1E;
    --color-contrast-lower: #2C2C2E;
    --color-contrast-low: #48484A;
    --color-contrast-medium: #8E8E93;
    --color-contrast-high: #FFF;
    --color-contrast-higher: #FFF;
    .theme-icon-light {
        display: none;
    }
    .theme-icon-dark {
        display: inline-block;
    }
    img {
        filter: brightness(50%);
    }

    @if ($enableHighlight) {
        /* https://xyproto.github.io/splash/docs/all.html */
        /* Color values matching dracula style */

        --chroma-line-numbers-background: #ffffcc;
        --chroma-line-numbers-color: #7f7f7f;
        --chroma-keyword-color: #ff79c6;
        --chroma-name-color: #8be9fd;
        --chroma-attribute-color: #50fa7b;
        --chroma-literal-color: #f1fa8c;
        --chroma-number-color: #bd93f9;
        --chroma-comment-color: #6272a4;
        --chroma-deleted-color: #8b080b;
        --chroma-output-color: #44475a;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme])
    {
        @include dark-theme;
    }
}

@if $defaultTheme == dark {
    :root {
        @include dark-theme;
    }
}
@else {
    :root[data-theme="dark"] {
        @include dark-theme;
    }
}