.footer {
    padding: 2em 0;
    font-size: 0.9em;
    color: var(--color-contrast-medium);
    a {
        color: var(--color-contrast-medium);
        text-decoration: none;
        &:hover {
            color: var(--color-primary);
            text-decoration: underline;
        }
    }
}

.footer-inner {
    margin: 0 auto;
    max-width: $postWidth;
    text-align: center;
}

.footer-icon {
    margin: 0 0.25em 0.3em;
}
