.nav {
    z-index: 3;
    position: relative;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.5;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.menu-item {
    display: inline-block;
    margin: 0 1em;

    a {
        color: var(--color-contrast-medium);
        text-decoration: none;
        transition: color $duration;

        &:hover {
            color: var(--color-primary);
        }
    }
}

.active {
    a {
        color: var(--color-primary);
    }
}

.menu-item-name {
    margin-left: 0.5em;
}
