{{- $linkTarget := .linkTarget -}}
{{- $ := index . "$" -}}
{{- $pages := $.Pages -}}
{{- $limit := -1 -}}
{{- with $linkTarget -}}
    {{- if isset (index $pages 0).Site.Params "limitentrieslimit" -}}
        {{- $limit = (index $pages 0).Site.Params.limitEntriesLimit -}}
    {{- end -}}
{{- end -}}
{{- if ge $limit 0 -}}
    {{- $pages = $pages | first $limit -}}
{{- end -}}
{{- with $pages -}}
    <div class="list-part">
        {{ range . }}
            <a href="{{ .RelPermalink }}" class="list-item">
                <span class="list-item-title">{{ (partial "utils/title.html" (dict "$" . "title" .LinkTitle)).htmlTitle }}</span>
                <span class="list-item-time">{{ .PublishDate.Format .Site.Params.listDateFormat }}</span>
            </a>
        {{ end }}
        {{ if and (gt $limit 0) (gt (len $.Pages) $limit) }}
            {{ with $linkTarget }}
                <div class="list-read-more">
                    <a href="{{ $linkTarget.RelPermalink }}">{{ i18n "readMore" }} »</a>
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
