.post-copyright {
    margin: 3em 0;
    padding: 1.5em;
    list-style: none;
    background-color: var(--color-contrast-lower);
    border-radius: 0.5em;
    line-height: 1.8;
}

.copyright-item {
    margin: 0.5em 0;
}

.copyright-item-text {
    font-weight: bold;
    color: var(--color-contrast-high);
}
