.post-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    color: var(--color-contrast-medium);
    font-size: 0.9em;
    margin: 2em 0;

    a {
        color: var(--color-contrast-medium);
        text-decoration: none;
        transition: color $duration;

        &:hover {
            color: var(--color-primary);
        }
    }
}

.post-meta-item {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}

.post-meta-icon {
    width: 1.1em;
    height: 1.1em;
    fill: currentColor;
}